## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [2]:
# 1) Seu código aqui
#Entendendo as arrays a serem trabalhadadas
df_mat
#Criando uma tabela com a quantidade de questões por assunto
questDic = {"Mat":24, 
         "Port":18, 
         "Geo":8,
         "Ing":8,
         "Hist":8,
         "Fis":12,
         "Quim":12}
qtdQuestoes = pd.Series(questDic)
qtdQuestoes
#Calculando o % de acerto de cada aluno por assunto
acerMat = (df_mat/qtdQuestoes["Mat"])*100
acerPor = (df_por/qtdQuestoes["Port"])*100
acerGeo = (df_geo/qtdQuestoes["Geo"])*100
acerIng = (df_ing/qtdQuestoes["Ing"])*100
acerHis = (df_his/qtdQuestoes["Hist"])*100
acerFis = (df_fis/qtdQuestoes["Fis"])*100
acerQui = (df_qui/qtdQuestoes["Quim"])*100

In [3]:
# 2) Seu código aqui
totalAcerto = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
totalAcerto

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [4]:
# 3) Seu código aqui
#Quantidade total de questões
totalQuestoes = qtdQuestoes.sum()
resultFinal = totalAcerto/totalQuestoes
resultFinal
totalAcerto['Result'] = resultFinal
totalAcerto

    Qt_acertos    Result
0           35  0.388889
1           48  0.533333
2           50  0.555556
3           32  0.355556
4           30  0.333333
..         ...       ...
95          34  0.377778
96          27  0.300000
97          40  0.444444
98          40  0.444444
99          42  0.466667

[100 rows x 2 columns]

In [47]:
# 4) Seu código aqui
aprov = totalAcerto[totalAcerto['Qt_acertos']>45]
qtdAprov = aprov['Qt_acertos'].count()
print(f'Tiveram a nota maior que a nota de corte, {qtdAprov} alunos')

Tiveram a nota maior que a nota de corte, 31 alunos

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [6]:
# seu código aqui
#Verificando a quantidade de cada uma das categorias que atendem o critério, para validar o resultado final
#print(len(df_mat.loc[df_mat['Qt_acertos'] == 0]))
#print(len(df_fis.loc[df_fis['Qt_acertos'] == 0]))
#print(len(df_qui.loc[df_qui['Qt_acertos'] == 0]))
df_eliminados = totalAcerto[(df_mat['Qt_acertos'] == 0) | 
                            (df_fis['Qt_acertos'] == 0) | 
                            (df_qui['Qt_acertos'] == 0)]

print(df_eliminados)
#Quantidade de alunos desqualificados
qtdDesc = len(df_eliminados)
print(f'Foram desclassificados {qtdDesc} Alunos')
#Média dos alunos em história e geografia

    Qt_acertos    Result
3           32  0.355556
6           29  0.322222
10          31  0.344444
12          42  0.466667
14          31  0.344444
20          53  0.588889
25          27  0.300000
26          40  0.444444
27          50  0.555556
33          39  0.433333
35          48  0.533333
49          19  0.211111
56          39  0.433333
65          24  0.266667
66          31  0.344444
72          50  0.555556
73          37  0.411111
74          39  0.433333
84          26  0.288889
89          63  0.700000
92          40  0.444444
94          25  0.277778
98          40  0.444444
Foram desclassificados 23 Alunos

In [7]:
#Criando o DF dos candidatos que passaram para a segunda fase
df_aprovados = totalAcerto[(totalAcerto['Result'] >= notaCorte) &
                           (df_mat['Qt_acertos'] != 0) & 
                           (df_fis['Qt_acertos'] != 0) &
                           (df_qui['Qt_acertos'] != 0)]
df_aprovados

    Qt_acertos    Result
1           48  0.533333
2           50  0.555556
5           50  0.555556
7           49  0.544444
8           58  0.644444
11          43  0.477778
17          52  0.577778
18          50  0.555556
24          50  0.555556
29          44  0.488889
31          54  0.600000
34          45  0.500000
36          56  0.622222
37          52  0.577778
39          49  0.544444
40          47  0.522222
42          48  0.533333
44          43  0.477778
45          48  0.533333
48          55  0.611111
50          43  0.477778
51          42  0.466667
52          41  0.455556
53          45  0.500000
55          41  0.455556
60          48  0.533333
62          46  0.511111
67          46  0.511111
68          43  0.477778
70          62  0.688889
71          53  0.588889
75          42  0.466667
77          53  0.588889
78          66  0.733333
80          45  0.500000
81          55  0.611111
82          43  0.477778
83          42  0.466667
88          50  0.555556
93          56  0.622222
99          42  0.466667

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [8]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-5ed92752-6121-474f-ab37-816918134afc.c000.csv'

In [9]:
# 1) Sua solução aqui
base = pd.read_csv("reg_vac_ACRE.csv", sep=";")
#Extraindo a quantidade de linhas da base
linhas , colunas = base.shape
print(f'Foram registradas {linhas} vacinas nesta base')

Foram registradas 169071 vacinas nesta base

In [10]:
base.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_datanascimento', 'paciente_enumsexobiologico',
       'paciente_racacor_codigo', 'paciente_racacor_valor',
       'paciente_endereco_coibgemunicipio', 'paciente_endereco_copais',
       'paciente_endereco_nmmunicipio', 'paciente_endereco_nmpais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumnacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoatendimento_codigo',
       'vacina_grupoatendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataaplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem', 'data_importacao_rnds', 'id_sistema_origem'],
      dtype='object')

In [11]:
# 2)
#Verificando a quantidade de registros unicos com referencia na coluna paciente_id
qtdVacinados = base['paciente_id'].nunique()
print(f'Foram vacinados {qtdVacinados} pacientes')

Foram vacinados 120517 pacientes

In [12]:
base.head(3)

,document_id,paciente_id,paciente_idade,paciente_datanascimento,paciente_enumsexobiologico,paciente_racacor_codigo,paciente_racacor_valor,paciente_endereco_coibgemunicipio,paciente_endereco_copais,paciente_endereco_nmmunicipio,...,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataaplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem,data_importacao_rnds,id_sistema_origem
0,b19cd280-474c-4c22-a35d-8c06bc04a4e0-i0b0,2e091c9a37d3f50d1d705fc80c6448c6fc69b44da9e936...,69,1951-12-28,F,3,PARDA,120050.0,10.0,SENA MADUREIRA,...,210052A,FUNDACAO BUTANTAN,Organization/61189445000156,2021-03-23,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-25T03:27:19.000Z,NaN
1,a1acc0b6-1cf6-4c4b-adcb-06b473a0faaf-i0b0,f4e17a9e5354cb45e223d85eda02fb2f76048c801675f5...,81,1939-11-22,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,210110,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-29,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-04-30T16:03:14.000Z,NaN
2,af279a98-ba1f-47ea-8214-314a98040b0d-i0b0,6734b26bccf826130ebffa66575977bbe71477b12bcf42...,69,1951-08-14,M,4,AMARELA,120020.0,10.0,CRUZEIRO DO SUL,...,210135,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-16,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-04-16T15:54:39.000Z,NaN

In [21]:
# 3)
#Verificando quais os valores possiveis na coluna vacina_descricao_dose
doses = base['vacina_descricao_dose'].unique()
print(doses)
pri_dose = base.loc[base['vacina_descricao_dose'] == '1ªDose']
pri_dose['paciente_id'].nunique()

['1ªDose' '2ªDose' 'Dose']

119713

In [29]:
#3) Solução Alternativa
# Obter todas as doses únicas
doses_unicas = base['vacina_descricao_dose'].unique()

# Exibir todas as doses únicas
print("Doses disponíveis:", doses_unicas)

# Filtrar dados para pacientes que receberam a 1ª dose
primeira_dose = base[base['vacina_descricao_dose'] == '1ªDose']

# Contar o número de pacientes únicos que receberam a 1ª dose
num_pacientes_primeira_dose = primeira_dose['paciente_id'].nunique()

# Exibir o número de pacientes únicos
print("Número de pacientes que receberam a 1ª dose:", num_pacientes_primeira_dose)

Doses disponíveis: ['1ªDose' '2ªDose' 'Dose']
Número de pacientes que receberam a 1ª dose: 119713

In [15]:
# 4)
menor18 = base.loc[base['paciente_idade']<18]
qtd = menor18['paciente_id'].nunique()
print(f'foram vacinados {qtd} pacientes menores que 18 anos')

foram vacinados 47 pacientes menores que 18 anos

In [27]:
# 5)
estab = base['estabelecimento_valor'].nunique()
print(f'{estab} estabelecimentos aplicaram a vacina')

102 estabelecimentos aplicaram a vacina

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [32]:
# 1)
estab18Menos = base.loc[base['paciente_idade'] < 18]
estab18Menos.head(3)

,document_id,paciente_id,paciente_idade,paciente_datanascimento,paciente_enumsexobiologico,paciente_racacor_codigo,paciente_racacor_valor,paciente_endereco_coibgemunicipio,paciente_endereco_copais,paciente_endereco_nmmunicipio,...,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataaplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem,data_importacao_rnds,id_sistema_origem
1567,fdca313f-b348-422d-94d4-f2c66a87868c-i0b0,f5e6b8c44f7c4d13a87c582def5e8d460435b02f26af8c...,17,2003-07-18,F,4,AMARELA,120025.0,10.0,EPITACIOLANDIA,...,213VCD003W,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-05-12,1ªDose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-05-13T16:16:42.000Z,NaN
6250,b7431955-1faa-4c1e-9246-7c1e7b8bb3cb-i0b0,e1a45c07e3c393d5f0eccf4204a7ceab338f4f06696ecb...,16,2004-05-18,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,200278,FUNDACAO BUTANTAN,Organization/61189445000156,2021-01-29,1ªDose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-02-06T14:02:07.000Z,NaN
9569,fdb8d3b6-14d9-4bcc-9cfe-acd46b4a317a-i0b0,7cf3b238383a70eeb26841c01817737c9706d5b231e8c2...,17,2004-01-23,F,99,SEM INFORMACAO,120020.0,10.0,CRUZEIRO DO SUL,...,213VCD042Z,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-05-15,1ªDose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-05-18T03:17:02.000Z,NaN

In [34]:
# 2)
colunas = base.columns
colunas

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_datanascimento', 'paciente_enumsexobiologico',
       'paciente_racacor_codigo', 'paciente_racacor_valor',
       'paciente_endereco_coibgemunicipio', 'paciente_endereco_copais',
       'paciente_endereco_nmmunicipio', 'paciente_endereco_nmpais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumnacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoatendimento_codigo',
       'vacina_grupoatendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataaplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem', 'data_importacao_rnds', 'id_sistema_origem'],
      dtype='object')

In [37]:
# 3)
estab18Menos['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Povos Indígenas                     33
Trabalhadores de Saúde               9
Povos e Comunidades Tradicionais     9
Comorbidades                         2
Faixa Etária                         1
Name: count, dtype: int64

In [49]:
# 4)
#Lista com as colunas referentes ao estabelecimento
dadosEstab = ['estabelecimento_valor','estabelecimento_razaosocial','estalecimento_nofantasia','estabelecimento_municipio_codigo',
             'estabelecimento_municipio_nome','estabelecimento_uf']
#Selecionar apenas as colunas que fazem parte da lista anterior
estab18Menos_lista = estab18Menos.loc[:, dadosEstab]

In [52]:
# 5)
estab18Menos_lista = estab18Menos_lista.drop_duplicates()
estab18Menos_lista.shape

(18, 6)